<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="bg-light" style="width:15%">
    <mat-list>
      <mat-list-item
        ><a [routerLink]="'/Dashboard'">Dashboard</a>
      </mat-list-item>
      <mat-list-item
        ><a [routerLink]="'/consumers'">Consumers</a>
      </mat-list-item>
      <mat-list-item><a [routerLink]="'/topics'">Topics</a> </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- <app-high-charts></app-high-charts> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
