<div mat-dialog-title>
    <div style="text-align:center;">
      <mat-form-field appearance="legacy">
        <mat-label>Campaign Title</mat-label>
        <input matInput placeholder="YoYo Campaign" [(ngModel)]="data.title">
        <mat-hint>YoYo Campaign</mat-hint>
      </mat-form-field>
    </div>

</div>
<div mat-dialog-content>
  <div style="display:inline-flex; width:100%;" >
    <div [innerHtml]="data.template" ></div>

    <div style="margin: 0 auto;">
      <div *ngFor="let prop of data.props" style="margin: 20px;">
        <mat-slide-toggle  
        class="example-margin"
        (change)="toggelChange($event,prop)"
        [checked]="data.selectedProps.includes(prop.id)"
        >
      {{prop.name}}
    </mat-slide-toggle> 
      </div>
     

    </div>
  </div>
  
</div>
<div mat-dialog-actions>
  <div style="margin:0 auto;">
    <button mat-button (click)="onNoClick()"><mat-icon>cancel_schedule_send</mat-icon></button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial><mat-icon>send</mat-icon></button>
  </div>
  
</div>
