<mat-grid-list cols="4" rowHeight="150px" *ngIf="db">
  <mat-grid-tile (click)="dispatch('topics')" style="cursor: pointer;">
    <div class="tile-wrapper">
      <div class="tile-panel topics">
        <div class="tile-text">Topics</div>
        <div class="tile-value" style="font-size: 36px;">{{ db.topics }}</div>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile (click)="dispatch('consumers')" style="cursor: pointer;">
    <div class="tile-wrapper">
      <div class="tile-panel consumers">
        <div class="tile-text">Consumers</div>
        <div class="tile-value" style="font-size: 36px;">
          {{ db.consumers }}
        </div>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="tile-wrapper">
      <div class="tile-panel brokers">
        <div class="tile-text">Brokers</div>
        <div class="tile-value" style="font-size: 36px;">{{ db.broker }}</div>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="tile-wrapper">
      <div class="tile-panel messages">
        <div class="tile-text">#Messages</div>
        <div class="tile-value" style="font-size: 36px;">
          {{ db.totalMessages }}
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
