.tile-wrapper {
    padding: 12px;
    width: 260px;
    height: 120px;
    border: 1px solid #00000054;
    background: #00000005;
}

.tile-panel {
    text-align: center;
    height: 100%;
    color: #fff;
}

.tile-panel.topics {
    background: #00B151;
}

.tile-panel.consumers {
    background: #317875;
}

.tile-panel.brokers {
    background: #FE8445;
}

.tile-panel.messages {
    background: #E1624F;
}

.tile-text {
    height: 33%;
    font-weight: 800;
    padding-top: 4px;
}

.tile-value {
    height: 38%;
}

.tile-link {
    text-decoration: underline;
    cursor: pointer;
}

