
<mat-grid-list cols="4" rowHeight="150px">
  <mat-grid-tile>
    <div class="tile-wrapper">
      <div class="tile-panel topics">
        <div class="tile-text">Topics</div>
        <div class="tile-value">12</div>
        <div class="tile-link">GOTO Page</div>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="tile-wrapper">
      <div class="tile-panel consumers">
        <div class="tile-text">Consumers</div>
        <div class="tile-value">144</div>
        <div class="tile-link">GOTO Page</div>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="tile-wrapper">
      <div class="tile-panel brokers">
        <div class="tile-text">Brokers</div>
        <div class="tile-value">5</div>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="tile-wrapper">
      <div class="tile-panel messages">
        <div class="tile-text">Messages</div>
        <div class="tile-value">125402</div>
      </div>
    </div>
  </mat-grid-tile>

</mat-grid-list>